*{
	margin:0;
	padding:0;
}
@font-face{
	font-family: chogokubosogothic;
	src:url(handwriteW3.ttc);
}
html{
	height: 100%;
}
body{
	height: 100%;
	font-family: 'Julius Sans One', Microsoft JhengHei, Merriweather, 'Helvetica Neue', Arial, sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction:column;
}

.bg{
	background-image: url(../img/ocean.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
header{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	margin:0;
	width: 100%;
	height: 50px;
	line-height: 45px;
	/*background: -webkit-linear-gradient(top left, #8CDFD6 0%, #25A5C4 100%);
	background: -moz-linear-gradient(top left, #8CDFD6 0%, #25A5C4 100%);
	background: -o-linear-gradient(top left, #8CDFD6 0%, #25A5C4 100%);
	background: linear-gradient(to bottom right, #8CDFD6 0%, #25A5C4 100%);*/
	/*background: linear-gradient(to right, #008DD5, #8EF9F3, #0AD3FF, #0AD3FF,#5194EC, #5194EC);
	background:-moz-linear-gradient(to right, #008DD5, #8EF9F3, #0AD3FF, #0AD3FF,#5194EC, #5194EC);
	background:-webkit-linear-gradient(to right, #008DD5, #8EF9F3, #0AD3FF, #0AD3FF,#5194EC, #5194EC);*/
	font-size: 20px;
	color: #383838;
	top: 0;
}
.fixTop{
	position: fixed;
	z-index: 10;
	background-color: rgba(255,255,255,.8);
}
header >a{
	margin-left: 5%;
	padding: 0 15px;
}
header >a:hover{
	background:rgba(138,138,138,.15);
}
header a img{
	height: 48px;
}
header .menu ul{
	list-style: none;
	display: flex;
}
header .menu ul li{
	margin-right: 15px;
	height: 50px;
	padding-left: 5px;
	padding-right:  5px;
}
header .menu ul li:hover{
	background-color: rgba(38,38,38,.3);
}
header .menu ul li a{
	text-decoration: none;
	color:#383838;
}
header .menuLight ul li a{
	color: #fff;
}
section{
	margin-top:10px; 
	display: block;	
}

section .content{
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
    align-content:center;
    align-items: center;
    flex-wrap:wrap;
    text-align: center;
}

section .content .pattern{
	margin-left:10px; 
	width: 30%;
	height: 305px;
	margin-top: 10px;
	background-color:rgba(38,38,38,.2);
	text-align: center;
}

section .content .pattern:hover{
	background-color:rgba(232,232,232,.4);
}

section .content .pattern .paragram{
	font-style:bold;
	font-size: 30px;
	color: white;
	margin-top:18%;
}
section .content .pattern .count{
	color: #fff;
	display: inline-block;
}
section .content .pattern .count div{
	font-size: 66px;
	display: inline-block;
}
section .content .pattern .count span{
	font-size: 55px;
	font-weight: 700;
}

@media screen and (max-width: 480px) {

/*如果使用者視窗寬度 <= 480px，將字體大小變為 16px*/
	header{
		font-size: 30px;
	}

}

#map{
	display: flex;
	flex-direction:column;
	width:100%;
	height:100%;
	/*margin:20px auto;*/
}

.about{
	width: 100%;
	display: flex;;
	flex-direction: column;
	font-family: chogokubosogothic;
}
.about .content{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 140px;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 40px;
}
.about .content:first-child{
	margin-top: 50px;
	padding-bottom: 0;
}

.about .content-reverse{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	text-align: right;
}
.about .content h1{
	margin-left:100px;
	margin-right: 100px; 
	margin-top: 70px;
	color: #fff;
	width: 100%;
}
.about .content p{
	margin-left:100px;
	margin-right: 100px; 
	margin-top: 20px;
	width: 60%;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}

.shadow {
	border:0;
	display:block;
    box-shadow: 0 50px 80px 0 rgba(0, 0, 0, 0.9);
    -webkit-transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom{
	margin-bottom:30px; 
}

