<!DOCTYPE html>
<html>
<head>
	<title>Fishackthon - Blue Tear</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body class="bg">
	<header>
		<a href="index.html">
			<img src="../img/logo.png">
		</a>	
		<div class="menu menuLight">
			<ul>
				<li><a href="analysis.html">資料分析</a></li>
				<li><a href="about.html">關於我們</a></li>
			</ul>
		</div>
	</header>
	<section>
	<div class="content">
		<div class="pattern">
			<p class="paragram">地點</p>
			<div class="count">
				<div id="place">神的領域</div>	
			</div>
		</div>
		<div class="pattern">
			<p class="paragram">當日平均水溫</p>
			<div class="count">
				<div id="temp">0</div><span> °C</span>
			</div>
		</div>
		<div class="pattern">
			<p class="paragram">當日平均流速</p>
			<div class="count">
				<div id="vol">0</div><span> m/s</span>
			</div>
		</div>
		<div class="pattern">
			<p class="paragram">預測鯉魚距離</p>
			<div class="count">
				<div id="dist">0</div><span> m</span>
			</div>
		</div>
		<div class="pattern">
			<p class="paragram">累積平均水溫</p>
			<div class="count">
				<div id="total">0</div><span> °C</span>
			</div>
		</div>
		<div class="pattern">
			<p class="paragram">魚種</p>
			<div class="count">
				<div id="type">鯉魚王</div>
			</div>
		</div>
	</div>
</section>
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../js/animateNumbers.js"></script>
  <script type="text/javascript">
		$("#temp").animateNumbers(32, true, 4000);
        $("#vol").animateNumbers(0.7, true, 3000);
        $("#total").animateNumbers(550, true, 5000);
        $("#dist").animateNumbers(3000, true, 2000);
  </script>
</body>
</html>